@model WebApplication2.Models.Student
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/Emp/Details" target="_parent">DetailsPages</a><br />

@Html.ActionLink("DetialsPage", "Details", "Emp", new { }, new { target = "_blank" })

<a href="@Url.Action("Details", "Emp", new { })" target="_top">Hello</a>

<form></form>

@{ Html.BeginForm();}----@*   <form>*@


@{ Html.EndForm();}----@*  </form>*@

@{
    Html.BeginForm();

    Html.EndForm();
}

@using (Html.BeginForm())
{

    @Html.DisplayFor(std => std)
    @Html.EditorFor(e => e)
    <input type="submit" name="btnSumit" value="Submit" />


    @MyHelperMethod.RenderTable(28)

    @Html.FormatToCurrency(25000.00M)

    @Html.Image("/Content/Images/bdt.png", "bdt")
}
